/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .category-link,
  .cta {
  }
  .cta {
    display: block;
  }
  .menu-box {
    display: block;
  }
  /*  .brand-box {
    display: none;
  } */
  /*   .brand-box-small {
    display: flex;
    margin: 0 0 0 3.75rem;
  } */
  .brand-box-small-image {
    height: 33%;
    width: 33%;
    object-fit: contain;
  }

  /* Style for the sliding menu */
  .menu {
    position: fixed;
    top: 0;
    right: -85%; /* Start off-screen */
    width: 85%;
    height: 100vh;
    background-color: var(--black-background-color);
    transition: right 0.3s ease; /* Add smooth transition effect */
    z-index: 9999;
  }

  /* Add this CSS for the menu overlay */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 5; /* Set z-index to be higher than the menu */
    display: none; /* Hide the overlay by default */
  }

  /* Style for the menu box */
  .menu-box {
    cursor: pointer;
  }

  /* Style for the 'open' class to slide the menu in */
  .menu.open {
    right: 0;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* Style for the menu items */
  .menu ul {
    list-style: none;
    padding: 0;
    margin-top: calc(var(--header-size) + 5rem);
    display: block;
    text-align: center;
  }

  .menu li {
    padding: 2rem 4rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .menu li:last-child {
    border-bottom: none;
    display: flex;
    justify-content: center;
  }

  .category-link {
    text-decoration: none;
  }
  .category-link.cta {
    width: 30rem;
  }

  .icon-box.close-button {
    display: block;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    top: 1.75rem;
    right: 1.75rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .menu-box {
    display: block;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
}
