.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-size); /* Increased from 5.7rem */
  width: 100%;
  z-index: 6;
  display: flex;
  justify-content: space-between;
}

.header-black {
  background-color: var(--black-background-color);
}

.brand-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.brand-box-small {
  height: 100%;
  padding: 0.75rem 0; /* Increased from 0.5rem */
}
.brand-box-small-image {
  height: 40%;
  width: 40%;
  object-fit: contain;
}

.header-brand-name {
  font-size: 3.8rem; /* Increased from 2.7rem */
  font-weight: 600;
  color: var(--white-text-color);
  text-decoration: none;
}

.menu {
  width: 70rem; /* Increased from 40rem */
  height: 100%;
}

.menu ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 3rem; /* Increased from 2.5rem */
}
.icon-box.close-button {
  display: none;
  color: var(--white-text-color);
}

.category-link {
  height: 100%;
  width: 100%;
  padding: 1.5rem 3rem; /* Increased from 1rem 2rem */
  font-size: 1.8rem; /* Increased from 1.2rem */
  font-weight: 600;
  color: var(--white-text-color);
  text-decoration: none;
}

.category-link:hover {
  color: var(--hover-white);
}

.category-link.cta {
  color: var(--black-text-color);
  background-color: var(--white-background-color);
  border-radius: 4.5px; /* Increased from 3px */
  transition: all 0.2s;
}

.category-link.cta:hover {
  background-color: var(--hover-white);
}

.menu-box {
  height: 100%;
  width: 7.5rem; /* Increased from 5rem */
  margin: 1.5rem 1.75rem 1.5rem 3.75rem; /* Increased from 1rem 0 1rem 2rem */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
  transition: all 0.2s;
}
.menu-box:hover {
  color: var(--hover-white);
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ion-icon {
  font-size: 5.1rem; /* Increased from 3.4rem */
}

.menu-box {
  display: none;
}

.brand-box-small {
  display: none;
}
