.section-hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-color: var(--granite-background-color);
}

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.carousel-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Increased from 50% */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 2;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 1s;
  z-index: 0;
}
.carousel-image.position-down {
  object-position: 50% 70%;
}

.carousel-image.active {
  opacity: 1;
  z-index: 1;
  transition-delay: 0s;
}

.search-box {
  position: absolute;
  left: 50%;
  top: 30vh; /* Increased from 30% */
  transform: translate(-50%, -50%);
  max-width: 75%; /* Increased from 75% */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; /* Increased from 1rem */

  background-color: var(--white-background-color);

  padding: 1.5rem 3rem; /* Increased from 1rem 2rem */
  background-color: #fff;
  border-radius: 2px; /* Increased from 4px */
  z-index: 4;
}

.main-heading {
  position: absolute;
  top: 62vh;
  left: -8%; /* Increased from 3rem */
  transform: translateY(-30%);

  font-size: 7.5rem; /* Increased from 5rem */
  z-index: 2;
  color: var(--white-text-color);
}
.main-heading-sub-heading {
  position: absolute;
  top: 67vh;
  left: 41%; /* Increased from 3rem */
  transform: translateY(-30%);

  font-size: 10rem; /* Increased from 5rem */
  z-index: 3;
  color: var(--highlight-color);
}

.input-group {
  width: 24rem; /* Increased from 16rem */
  display: flex;
  flex-direction: column;
}

#eventDate {
  width: 100%; /* Increased from 12rem */
}

label {
  font-weight: bold;
  margin-bottom: 7.5px; /* Increased from 5px */
  font-size: 1.5rem; /* Increased from 1.1rem */
}

select,
input {
  appearance: none; /* Remove default iOS styles */
  -webkit-appearance: none; /* Remove default iOS styles for older versions */
  background-color: #fff;
  color: var(--black-text-color);
  padding: 0.9rem; /* Increased from 0.6rem */
  border: none; /* Add a border style */
  border-radius: 0; /* Increased from 5px */
  width: 100%;
  height: 4rem;
  cursor: pointer;
  font-size: 1.65rem; /* Increased from 1.1rem */
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  text-align: left;
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-box ion-icon {
  font-size: 2rem;
  transform: translate(-200%);
}

.search-button {
  width: 22.5rem; /* Increased from 15rem */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem; /* Increased from 0.5rem 1rem */
  background-color: var(--black-background-color);
  color: var(--white-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-left: 4.5rem; /* Increased from 3rem */
  font-size: 1.65rem;
  text-decoration: none;
}

.search-button:hover {
  background-color: #333;
}

.arrow-icon {
  margin-left: 15px; /* Increased from 10px */
  font-size: 3rem; /* Increased from 2rem */
}
