/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

@media (max-width: 94em) {
  .heading-primary {
    font-size: 5rem;
  }
}

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1;
  }

  /*   .hero-brand-box--closed {
    display: none; 
  } */

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
    /* 		transform: translateX(100%);
		-webkit-transform: translateX(100%); */

    display: none;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
    overflow: hidden;
  }

  .nav-open .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    animation: slideIn ease 0.5s;
    -webkit-animation: slideIn ease 0.5s;
    -moz-animation: slideIn ease 0.5s;
    -o-animation: slideIn ease 0.5s;
    -ms-animation: slideIn ease 0.5s;
    z-index: 1;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .nav-close .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(100%);
    animation: slideOut ease 0.5s;
    -webkit-animation: slideOut ease 0.5s;
    -moz-animation: slideOut ease 0.5s;
    -o-animation: slideOut ease 0.5s;
    -ms-animation: slideOut ease 0.5s;
    z-index: 1;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.8rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    font-size: 2.1rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .container {
    padding: 0 1rem;
  }
  .inner-container {
    padding: 0 1rem;
  }

  .header-section.margin-bottom--small {
    margin-bottom: 0.3rem !important;
  }

  .header-section.margin-top--small {
    margin-top: 0.3rem !important;
  }
  #map {
    max-width: 100%;
    height: 65vh;
    margin: 0 auto;
  }

  .filter-section {
    padding: 0 0;

    gap: 2rem;
  }

  .slider-container {
    align-self: flex-start;
  }

  #sliderDays {
    height: 1.6rem;
  }
  #sliderDistance {
    height: 1.6rem;
  }

  #sliderDays .ui-slider-handle,
  #sliderDistance .ui-slider-handle {
    width: 1.6rem;
    height: 1.9rem;
  }
  .checkboxes {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .race-info-box--expanded {
    max-height: 32rem;
  }

  .race-info-box--expanded .highlight-text-box-road {
    top: 85%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .race-info-box--expanded {
    max-height: 35rem;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 27em) {
  .race-info-box--expanded {
    max-height: 38rem;
  }
}

@media (max-width: 1300px) and (min-width: 1000px) and (max-height: 600px) {
}
