<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <script defer="" src="/js/venueScriptMapbox.js"></script>
    <script defer="" src="/js/showAllImages.js"></script>
    <script
      type="module"
      defer=""
      src="/js/firebaseProductionEmail.js"
    ></script>

    <link href="/css/general.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet" />
    <link href="/css/header-queries.css" rel="stylesheet" />
    <link href="/css/hero.css" rel="stylesheet" />
    <link href="/css/add-space.css" rel="stylesheet" />
    <link href="/css/add-info.css" rel="stylesheet" />
    <link href="/css/add-submission.css" rel="stylesheet" />
    <link href="/css/submission-queries.css" rel="stylesheet" />

    <title>
      {{ context.venue.venueInfo.name }} - listning på FestlokaliStockholm.se
    </title>
    <link rel="icon" href="/img/favicon.png" />
    <meta name="description" content="short_form_description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="show-all-overlay" id="showAllOverlay"></div>
    <button class="hide-grid" id="hideGrid">
      <ion-icon name="close-outline" class="close-icon"></ion-icon>
    </button>
    <header class="header header-black section">
      <div class="brand-box">
        <a class="header-brand-name" href="/index.html">
          <img
            class="brand-box-small-image"
            src="/img/logo_trans.svg"
            alt="Brand logo"
        /></a>
      </div>
      <div class="menu">
        <ul>
          <li>
            <p class="category-link">
              Lokalsida för: {{ context.venue.venueInfo.name }}
            </p>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <section class="venue-page" id="venuePage">
        <div class="show-all-grid" id="showAllGrid">
          {% for i in range(0, context.venue.venueImages.images|length) %}
          <div class="gallery-image">
            <img
              class="image-inner-img"
              src="{{ context.image_paths[i] }}"
              alt="bild {{ i + 1 }} tillhörande: {{ context.venue.venueInfo.name }}"
            />
            <div class="gallery-overlay"></div>
          </div>
          {% endfor %}
        </div>
        <div class="images-section section airy-margin" id="imageSection">
          <div class="left-image">
            <img
              class="image-inner-img"
              src="{{ context.image_paths[0] }}"
              alt="bild {{ 0 + 1 }} tillhörande: {{ context.venue.venueInfo.name }}"
            />
            <div class="image-overlay"></div>
          </div>
          <div class="right-images-section">
            <div class="top-right-image">
              <img
                class="image-inner-img"
                src="{{ context.image_paths[1] }}"
                alt="bild {{ 1 + 1 }} tillhörande: {{ context.venue.venueInfo.name }}"
              />
              <div class="image-overlay"></div>
            </div>
            <div class="bottom-right-images">
              <div class="bottom-right-image">
                <img
                  class="image-inner-img"
                  src="{{ context.image_paths[2] }}"
                  alt="bild {{ 2 + 1 }} tillhörande: {{ context.venue.venueInfo.name }}"
                />
                <div class="image-overlay"></div>
              </div>
              <div class="bottom-right-image">
                <img
                  class="image-inner-img"
                  src="{{ context.image_paths[3] }}"
                  alt="bild {{ 3 + 1 }} tillhörande: {{ context.venue.venueInfo.name }}"
                />
                <div class="show-all-container" id="showAll">
                  <div class="square-icon-container-container">
                    <div class="square-icon-container">
                      <ion-icon
                        class="icon ion-ios-square-outline md hydrated"
                        name="square-outline"
                        role="img"
                        aria-label="square outline"
                      ></ion-icon>
                    </div>
                    <div class="square-icon-container">
                      <ion-icon
                        class="icon ion-ios-square-outline md hydrated"
                        name="square-outline"
                        role="img"
                        aria-label="square outline"
                      ></ion-icon>
                    </div>
                    <div class="square-icon-container">
                      <ion-icon
                        class="icon ion-ios-square-outline md hydrated"
                        name="square-outline"
                        role="img"
                        aria-label="square outline"
                      ></ion-icon>
                    </div>
                    <div class="square-icon-container">
                      <ion-icon
                        class="icon ion-ios-square-outline md hydrated"
                        name="square-outline"
                        role="img"
                        aria-label="square outline"
                      ></ion-icon>
                    </div>
                  </div>
                  <div class="show-all-images-text">Visa alla</div>
                  <div class="image-overlay"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-container" id="infoContainer">
          <!-- Venue Name -->
          <h1 class="event-space-title">{{ context.venue.venueInfo.name }}</h1>

          <!-- Venue Address -->
          <div class="adress-div">
            <ion-icon
              class="icon ion-ios-location-outline"
              name="location-outline"
            ></ion-icon>
            <p class="event-space-address">
              {{ context.venue.venueInfo.address }}
            </p>
          </div>

          <!-- Highlights Container -->
          <ul class="highlights-container">
            <!-- Star Rating -->
            <div class="highlight-stars">
              <ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star"
                role="img"
                aria-label="star"
              ></ion-icon
              ><ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star"
                role="img"
                aria-label="star"
              ></ion-icon
              ><ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star"
                role="img"
                aria-label="star"
              ></ion-icon
              ><ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star"
                role="img"
                aria-label="star"
              ></ion-icon
              ><ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star-half-outline"
                role="img"
                aria-label="star half outline"
              ></ion-icon>
            </div>

            <!-- Guests and Size Info -->
            <li class="highlight-info desktop">
              <ion-icon
                class="highlight-icon ion-ios-people-outline"
                name="people-outline"
              ></ion-icon>
              <p>
                {% if context.venue['venueInfo']['venueType'] == 'yoga' %} Plats
                för {{ context.venue.venueInfo.seated }} {% else %}{{
                context.venue.venueInfo.seated }} sittandes, {{
                context.venue.venueInfo.standing }} minglandes {% endif %}
              </p>
            </li>
            <li class="highlight-info mobile full-row">
              <ion-icon
                class="highlight-icon ion-ios-people-outline"
                name="people-outline"
              ></ion-icon>
              <p>
                {% if context.venue['venueInfo']['venueType'] == 'yoga' %} Plats
                för {{ context.venue.venueInfo.seated }} {% else %}{{
                context.venue.venueInfo.seated }} sittandes, {{
                context.venue.venueInfo.standing }} minglandes {% endif %}
              </p>
            </li>
            <li class="highlight-info desktop">
              <ion-icon
                class="highlight-icon ion-ios-crop-outline"
                name="crop-outline"
              ></ion-icon>
              <p>{{ context.venue.venueInfo.size }} m²</p>
            </li>

            {% if context.venue['venueInfo']['venueType'] == 'yoga' %}
            <!-- Matts Info -->
            <li class="highlight-info">
              <ion-icon
                class="highlight-icon ion-ios-tablet-portrait-outline"
                name="tablet-portrait-outline"
              ></ion-icon>
              <p>
                {{ "Yoga-mattor tillgängliga" if
                context.venue.venueInfo.yogamattsF else "Medtag egna
                Yoga-mattor" }}
              </p>
            </li>

            {% else %}
            <!-- Food and Drink Info -->
            <li class="highlight-info">
              <ion-icon
                class="highlight-icon ion-ios-restaurant-outline"
                name="restaurant-outline"
              ></ion-icon>
              <p>
                {{ "Egen mat tillåten" if context.venue.venueInfo.ownFoodF else
                "Matservering tillhandahållen av lokalen" }}
              </p>
            </li>
            {% endif %}
            <li class="highlight-info second-col mobile">
              <ion-icon
                class="highlight-icon ion-ios-crop-outline"
                name="crop-outline"
              ></ion-icon>
              <p>{{ context.venue.venueInfo.size }} m²</p>
            </li>
            {% if context.venue['venueInfo']['venueType'] == 'yoga' %}
            <li class="highlight-info">
              <ion-icon
                class="highlight-icon ion-ios-water-outline"
                name="water-outline"
              ></ion-icon>
              <p>
                {{ "Dusch på plats" if context.venue.venueInfo.showerF else
                "Ingen dusch i lokalen" }}
              </p>
            </li>
            {% else %}
            <li class="highlight-info">
              <ion-icon
                class="highlight-icon ion-ios-water-outline"
                name="water-outline"
              ></ion-icon>
              <p>
                {{ "Egen dryck tillåten" if context.venue.venueInfo.ownDrinkF
                else "Dryck tillhandahållen av lokalen" }}
              </p>
            </li>
            {% endif %}
            <div class="highlight-star-mobile second-col">
              <ion-icon
                class="star-icon ion-ios-star-outline md hydrated"
                name="star"
                role="img"
                aria-label="star"
              ></ion-icon>
              <p>4.85</p>
            </div>
          </ul>

          <!-- Calendar and Mail Template Containers -->
          <div class="subsection-split-container">
            <!-- Description Container -->
            <div class="description-container">
              <h2>Om lokalen</h2>
              <p class="venue-description">
                {{ context.venue.venueInfo.description | replace('\\n', '<br />')
                | safe }}
              </p>
              <h3>Detaljerad information:</h3>
              <ul>
                <li>Lokalens storlek: {{ context.venue.venueInfo.size }} m²</li>
                <li>Antal sittande: {{ context.venue.venueInfo.seated }}</li>
                {% if context.venue['venueInfo']['venueType'] == 'yoga' %}
                <li>
                  Egen mat tillåten: {% if context.venue.venueInfo.ownFoodF
                  %}Ja{% else %}Tillhandahålls av lokalen{% endif %}
                </li>

                <li>
                  Egen dryck tillåten: {% if context.venue.venueInfo.ownDrinkF
                  %}Ja{% else %}Tillhandahålls av lokalen{% endif %}
                </li>

                <li>
                  Yoga-mattor tillgängligt: {% if
                  context.venue.venueInfo.yogamattsF %}Ja{% else %}Hyras in på
                  förfrågan{% endif %}
                </li>

                <li>
                  Dusch tillgängligt: {% if context.venue.venueInfo.schowerF
                  %}Ja{% else %}Finns inte i lokalen{% endif %}
                </li>

                <li>
                  Ombytesrum tillgängligt: {% if
                  context.venue.venueInfo.dressingroomF %}Ja{% else %}Finns inte
                  i lokalen{% endif %}
                </li>

                <li>
                  Kök tillgängligt: {% if context.venue.venueInfo.kitchenF
                  %}Ja{% else %}Finns inte i lokalen{% endif %}
                </li>

                {% else %}

                <li>Antal stående: {{ context.venue.venueInfo.standing }}</li>
                <li>
                  Utcheckningstid senast: {% if context.venue.venueInfo.checkout
                  %}{{ context.venue.venueInfo.checkout }}{% else %}Ej angivet{%
                  endif %}
                </li>
                <li>
                  Egen mat tillåten: {% if context.venue.venueInfo.ownFoodF
                  %}Ja{% else %}Tillhandahålls av lokalen{% endif %}
                </li>

                <li>
                  Egen dryck tillåten: {% if context.venue.venueInfo.ownDrinkF
                  %}Ja{% else %}Tillhandahålls av lokalen{% endif %}
                </li>

                <li>
                  Ljudsystem tillgängligt: {% if context.venue.venueInfo.soundF
                  %}Ja{% else %}Hyras in på förfrågan{% endif %}
                </li>

                <li>
                  Mickar tillgängliga: {% if context.venue.venueInfo.micsF
                  %}Ja{% else %}Hyras in på förfrågan{% endif %}
                </li>

                <li>
                  Projektor tillgänglig: {% if
                  context.venue.venueInfo.projectorF %}Ja{% else %}Hyras in på
                  förfrågan{% endif %}
                </li>

                <li>
                  Discoljus tillgängligt: {% if
                  context.venue.venueInfo.discoLightsF %}Ja{% else %}Hyras in på
                  förfrågan{% endif %}
                </li>
                {% endif %}
                <li>
                  Kontaktperson: {{ context.venue.venueInfo.contactName }}
                </li>
                <li>
                  Kontakttelefon: {{ context.venue.venueInfo.contactPhone }}
                </li>
                <li
                  data-contact-mail="{{ context.venue.venueInfo.contactMail }}"
                  class="contact-mail"
                >
                  Kontaktmail: {{ context.venue.venueInfo.contactMail }}
                </li>
              </ul>
              <h3>Lokalhyra:</h3>
              <p class="venue-price">
                fr. {{ context.venue.venueInfo.startingPrice|format_thousands }}
                kr/dygn
              </p>
            </div>

            <div class="subsection-right-split-container">
              <div
                data-mapboxCenter="{{ context.venue.mapboxCenter }}"
                class="map-container mapboxgl-map"
                id="mapboxContainer"
              ></div>
            </div>
          </div>
        </div>

        <!-- Rest of your HTML content -->
      </section>
      <div id="errorMessage" class="error-message"></div>
    </main>
  </body>
</html>
